@page
@model WebApplication2.Pages.AddCourse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Courses</h1>

<p>
    <a asp-page="Create">Create New Courses</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.course[0].CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course[0].LecturerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.course) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LecturerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
